@import "_baseline";
@import "_respond_to_width";
@import "_variables";
@import "_size_utilities";
@import "_transitions";

@viewport {

	 width: device-width;
	 zoom: 1;

} 

.display-small {
	
	display: none;
	
	@include respond-to-width(small) {
	
		display: inherit;
		
	}
	
}

.display-medium {
	
	display: none;
	
	@include respond-to-width(medium) {
	
		display: inherit;
		
	}
	
}

.display-large {
	
	display: none;
	
	@include respond-to-width(large) {
	
		display: inherit;
		
	}
	
}

.display-no-large, .hide-large { 
	
	@include respond-to-width(large) {
	
		display: none !important;
		
	}
	
}

.display-no-small, .hide-small {
		
	@include respond-to-width(small) {
	
		display: none !important;
		
	}
	
}
 

body { // Previously had body.ngm but the NGS video player 
 // removes classes from body and replaces with "pdkLoaded"
	
	overflow-x: hidden;
	
 	@include respond-to-width(small) { 

		/* TODO: is this really required? */

		-webkit-text-size-adjust: 100%;

 	}
	
	div#tophat {
	
		line-height: initial;
		position: relative;
		z-index: 500;
		
 
		div#header_ads {
			
			@include respond-to-width(small) {
				display: none;
			}
			@include respond-to-width(medium) {
				display: none;
			}
						
		}
		
		/* This corrects a strange amount of padding added to the top of the page. 
		I believe this link was intended for WAP clients. -CC 20150827 */
		
		p#skip_navigation {
		
			display: none;
			
		}
		
		/* This corrects a strange logo positioning bug in global nav on tablet/phone. 
		Will see if there's a better fix elsewhere, or file a GN bug. -CC 20150827 */
		
		.gn_logo-container--inline {
			
			top: 25%;
		
		}
		
	}
	
	div#dialog {
		
		font-size: 1.00rem;
		text-align: inherit;
		
	}
	
	div#marginwrap {
	
		width: 100%;
		
		div#wrapper {
			
			width: 100%;
			
			/* Social share buttons. */
			
			.addthis_toolbox {
				
				float: none !important;
				margin: 0 auto;
				text-align: left;
				width: auto;
				
				/* Strange bug fix for mobile. Thanks, AddThis! */
				
				> div > a > div > span {
					
					vertical-align: top !important;
					
				}
				
				a {
					
					line-height: 2;
					text-align: center;
					padding: 0.25rem;
				
				}
				
				
			}
			
			/* The breadcrumbs above the article. */
			
			.nav {

				display: none;
								
			}
			
			/* Right side promos from Cheetah. */
				
			.narrow_side, .narrow_sidert {
				
				display: none;	
			
			}
			
			/* Left side promos. 
			
			We are hiding this per latest designs. 
			
			I am retaining the styles in case this changes. -CC 2015-09-03 */
			 
			.narrow_side {
			
				display: none;
			
				float: none;
				text-align: center;
				width: inherit;
				
				@include respond-to-width(small) {
					
					display: none;
					
				}
				
				> div {
				
					display: inline;
					padding: 1rem;
					
				}	
				
				> .clear {
					
					padding: 0;
					
				}
				
				> .spacer, > .line {
					
					display: none !important;
				
				}
				
				> .navblocktxt, > .navblock {
					
					float: none;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					width: 40%;
    				max-width: 160px;
    				
    				> img {
    					
    					width: 100%;
    					height: auto;
    				
    				}
    				
				}
				
				> .navblocktxt {
					
					display: none;
					
				}
				 
				> .navblock {
					
					margin: 0.5rem;
					padding: 0 0 2rem 0;
									
				}
				
			}
						
			/* This is the main class used by Cheetah for "three-column" (article) pages. */
			
			.main_3narrow_wrap {
				
				float: none;
				font-size: 1.2rem;
				margin: 0 auto;
				padding: 0;
				width: 100%;
				
				.main_3narrow:before {
					
					@include respond-to-width(notsmall) {
						
						content: "";
						position: absolute;
						width: 100%;
						background-color: white;
						z-index: 010;
						height: 100rem;
						display: block;
						left: 0;
						top: 2rem;
						box-shadow: 0 0 2rem 1rem #fff;
						
					}
					
				}
				 
				.main_3narrow {

					background-color: transparent;
					padding: 0;
					margin: 0 auto;
					
					a {

						border-bottom:1px solid $color-nat-geo;

					}

					a:hover {

						color:$color-nat-geo;  

					}
					
					.button, .overlay .button {
						
						background-color: rgba(255,255,255,0.75);
						border: 0;
						color: #000;
						display: inline-block;
						font-family: $font-sans-serif;
						font-weight: 700;
						font-size: 1rem;
						margin: 1rem;
						padding: 1rem 2rem;
						text-decoration: none;
						text-transform: uppercase;
						text-shadow: none;
						
					}
					
					.button:active, .overlay .button:active {
					
						background-color: #fff;

					}
					
					.article_title {
					
						color: black;
						font-family: $font-sans-serif;
						font-size: $size-caption;
						font-weight: 300;
						line-height: 1.2em;
						position: relative;
						text-align: left;
						width: 100%;
						z-index: 100;
						
						// Something deep within Cheetah wraps a random tag in an h1, but only after publishing.
						
						h1 {
							
							font-size: $size-caption;
							font-weight: 300;
							font-family: $font-sans-serif;
							color: black;
							
						}
						
						.ad-unit-210 {
							
							float: right;
							position: relative;
							right: 0.5rem;
							top: 0.5rem;
							
							@include respond-to-width(small) {
 
								right:.5rem;
								top:.5rem; 
							
							}
							
						}
							
						// The new-style breadcrumbs above the article.
						
						.breadcrumbs {
							
							display: block;
							margin: 0;
							max-width: 90%;
							padding: 1.5rem;
							
							a {
								
								border-bottom: 1px solid transparent;
								color: #000;
								display: inline-block;
								margin: 0 2.2rem 0 0 ;
								
							}
							
							a:hover, a:active, a.selected {
								
								border-bottom: 1px solid $color-nat-geo;		
								
							}	
							
							a:first-child {
								
								font-weight: 600;
																
							}
							
							a:last-child {
								
								margin-right: 0;
								border-right: 0;
																
							}
							
							@include respond-to-width(small) {
							
								padding: 1.5rem 5%; 
								
								a:not(:first-child) { 
									
									// On mobile, hide all but the first tag.
										
									display: none;
									
								}
									
							}
							
							@include respond-to-width(medium) {
								
								a {
									
									display: none;
									
								}
								
								a:first-child {
									
									display: inline-block;
									
								}
								
								a.selected {
									
									display: inline-block;
									
								}
								
								
							}
							
						}
							
						.published {
							
							display: none;
							
						}
						    
					}

					.article_credits_author, .article_credits_photographer {
						
						font-family: $font-serif-display-italic;
						font-style: italic;
						text-align: center;
						font-size: 1.1rem;
						line-height: 1.4;
						
					}
					
					.content {
						
						background-color: transparent;
						font-family: $font-serif;
					    font-size: 1.0rem;
					    line-height: 1.75;
					    overflow-x: hidden;
						padding: 0;					
						
						> p:first-of-type {
							
						    margin-top: 2.5rem;

						}
						
						em, i {
								
							font-family: $font-serif-italic;
						
						}

						
						a.promo-previous, a.promo-next {
							
							background-color: $color-background-transparent;
							display: block;
							font-family: $font-sans-serif;
							font-weight: 500;
							padding: 1rem 1rem;
							@include transition (opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear);
							opacity: 1;
							
							h1, h2, h3, h4, h5 {
								
								font-weight: 500;
								word-spacing: 0em;
							
							}
							
							h2 {
								
								font-size: $size-caption;
								
							}
								
							img { 
								
								width: 100%;
								
							}
							
							@include respond-to-width(large) { 
								
								border: 1px solid transparent;
								bottom: 0rem;
								color: $color-light-grey;
								overflow: hidden;
								z-index: 1;
								
								@extend .width-margin-element;
								
								img {
									
									height: 0;
									opacity: 0;
									@include transition (opacity 0.2s linear, height 0.2s linear); 
									
								}
								
								h1, h2, h3 {
									
									margin: .2em 0;
									
								}
								
							}
							
							@include respond-to-width(notlarge) {
							
							/* 
								display: inline-block;
								max-width: 40%;
								width: 40%;
							*/
								img {
								
									display: none;
									
								}
								
								h1, h2, h3 {
									
									padding: 5%;
								
								}
								
							    max-width: 90%;
							    width: $width-text-max;
							    margin-left: auto;
							    margin-right: auto;
							    									
							}
							
						}
						
						a.promo-previous:hover, a.promo-next:hover,  {
							
							@include respond-to-width(large) {	
							
								background-color: $color-background;
								border: 1px solid $color-light-grey;
								color: #000;
								@include transition (opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear);
								z-index: 200;
								
								img, h1, h2, h3 {
									
									z-index: auto;
									@include transition (opacity 0.2s linear, height 0.2s linear); 
									
								}	
								
								img {
									
									opacity: 1;
									height: 100%;
									
								}
								
							}
							
						}
						
						a.promo-previous { 
							
							@include respond-to-width(large) {
								
								position: fixed;
								left: 0;
								text-align: left;
								margin-left: 0;
							
							}
							
							@include respond-to-width(notlarge) {
								
								display: none;
								
								/*
								margin: $margin-media 0;
								background-color: $color-lighter-grey;
								*/
								
							}
							
						}
						
						a.promo-previous h2:before {
							
							content: "\01F516  Previous Article";
							display: block;
							font-family: icongs, $font-sans-serif;

							font-weight: 700;
							
						}
						
						a.promo-next {
							 
							@include respond-to-width(large) {
								
								position: fixed; 
								right: 0;
								margin-right: 0;
								text-align: right;
							
							}
							
							@include respond-to-width(notlarge) {
								
								margin: $margin-media/2 auto;
								
								h2, h3, h4, h5 {
									
									background-color: $color-lightest-grey;
								
								}
								
								
							}
							
						}
						
						a.promo-next:before {
							
							@include respond-to-width(notlarge) {
								
								color: $color-grey;
								content: "Article continues below";
								display: block;
								font-style: italic;
								
								
							}
							
						}
						
						a.promo-next h2:before {
							
							content: "Next Article \01F517";
							display: block;
							font-family: icongs, $font-sans-serif;
							font-weight: 700;
							
						}
						
						img {
							
							border: 0;
							
						}

						.adunit {
							
							position: relative;
							
							> div {
								
								position: absolute;
								
							}
							
						}
						
						.adunit:empty, .adunit:blank {
							
							visibility: hidden;
							
						}

						.ad-unit-210 {
							
							width: 210px;
							height: 50px;
							position: relative;
							
						}
						
						.ad-unit-300 {
							
							margin-top: $margin-media;
							margin-bottom: $margin-media;
							min-height: 250px;
							position: relative;
							width: 300px;
							background-color: $color-lightest-grey;
							
						}
						 
						.ad-unit-300:before {
							
							content: "Advertisement";
						    font-family: $font-sans-serif;
						    font-size: .8rem;
						    color: $color-light-grey;
						    position: absolute;
						    top: -1.5rem;
						    float: right;
						    	
						}
						
						.ad-unit-728 {
							
							margin-top: $margin-media;
							margin-bottom: $margin-media;
							max-width: 90%;
							position: relative;
							width: 728px;
							background-color: $color-lightest-grey;
							
							> div {
							
								position: relative;
									
							}
							
						}	 
						
						.ad-unit-728:before {
							
							content: "Advertisement";
						    font-family: $font-sans-serif;
						    font-size: .8rem;
						    color: $color-light-grey;
						    position: absolute;
						    top: -1.5rem;
						    float: left;
						    	
						}

						.author {

							font-family: $font-serif-display-italic;
							text-align: left;
							font-size: 1.1rem;
							line-height: 1.4;
							font-weight: 200; 

						}
 						
 						.bio {
 							
							color: $color-grey;
 							font-family: $font-sans-serif;
 							font-size: $size-caption;
 							border-bottom: 1px $color-light-grey solid;
 							border-top: 1px $color-light-grey solid;
 							margin-bottom: $margin-media;
 							margin-top: $margin-media;
 							padding-bottom: $margin-media / 2;
 							padding-top: $margin-media / 2;
 							
 							a {
 								
 								color: inherit;
 								
 							}
 							
 						}
 						
 						.credits {
 						
 							color: $color-light-grey;
 							font-family: $font-sans-serif;
 							font-size: 0.8em;
 							text-transform: uppercase;
 							
 						}
 						
 						.editors-note {

 							border: 1px solid #c9c9c9;
 							box-sizing: border-box;
 							color: #999;
 							font-family: $font-sans-serif;
 							font-size: .875rem;
 							font-weight: 400;
 							line-height: 1.4; 
 							margin-top: $margin-media;
 							margin-bottom: $margin-media;
 							padding: 1rem 1.25rem;

 						}
 						 
  						.inlineSlideShow .captionText {
	
							.credit {
							
								text-transform: uppercase;
								color: gray;
								font-size: 0.7rem; 
														 
							}
	
							h4 {
								
								display: inline;
							    font-size: 1em;
							    padding-right: .4em;
							    font-family: $font-sans-serif;
							    
							}
	
 						}
					
						.intro {
						
							text-transform: uppercase;
						    font-weight: 700;
						    font-family: $font-sans-serif;
						    font-size: 0.9em;

						}

						.published {

							font-family: $font-sans-serif;
							font-size: 12px; 
							text-transform: uppercase; 
							font-weight: 300; 
							color: #999; 
							text-align: left;
							padding: 0.5rem;

						}

 						.quote {

 							text-align: left;
 							font-weight: 600;
 							font-family: $font-sans-serif;
 							color: #808080;
 							line-height: 2.5em;
							padding: 2rem 1rem;
							font-size: 2rem;
							line-height: 1.2em;
							margin: 0 auto;

 						}

						/* We have these stub classes (real ones are in _size_utilities.scss) 
						for necessary specificity. */

						.width-full {
							
							@extend .width-full;
						
							@include respond-to-width(large) {
							
//							    box-shadow: 0rem 0rem 2rem 1rem white;
							    position: relative;
							    background-color: white;

							}
							
						}
						
						.width-full:before {
							
							@extend .block-margins;
						
						}
						
						.width-cinematic {
							
							@extend .width-cinematic;
							
							@include respond-to-width(large) {
							
							    box-shadow: 0rem 0rem 2rem 1rem white;
							    position: relative;
							    background-color: white;

							}
						
						}
						
												
						.width-wider {
						
							@extend .width-wider;
							
							@include respond-to-width(large) {
							 
							    position: relative; 

							}
							
						}
						
						.width-wider:before {
							
							@extend .block-margins;
							
						}
								
						.width-wide {
						
							@extend .width-wide;
							
							@include respond-to-width(large) {
							 
							    position: relative; 

							}
							
						}
						
						.width-wide:before {
							
							@extend .block-margins;
							
						}
						
						
						.width-inset {
							
							@extend .width-inset;
							
						}
						
						.width-locator {
							
							@extend .width-locator;
							
						} 
						
						.width-box {
							
							@extend .width-box;
							
						}
						
						.width-margin-element {
							
							@extend .width-margin-element;
							
						}
						
						.float-left {
							
							@extend .float-left;
							
						}
						
						> .float-left {
							
							@include respond-to-width(notsmall) {
								
								box-shadow: -5rem 0 0rem 5rem white;
							
							}
													
						}	
						
						.float-right {
							
							@extend .float-right;
							
						}
						
						> .float-right {
							
							@include respond-to-width(notsmall) {
							
								box-shadow: 5rem 0 0rem 5rem white;
							
							}
							
						}	
						
						.font-serif {
							
							font-family: $font-serif;
							
						}
						.font-serif-deck {
							
							font-family: $font-serif-deck;
							
						}
						.font-serif-deck-bold {
							
							font-family: $font-serif-deck-bold;
							
						}
						.font-serif-display {
							
							font-family: $font-serif-display;
							
						}
						.font-serif-display-bold {
							
							font-family: $font-serif-display-bold;
							
						}
						.font-serif-display-italic {
							
							font-family: $font-serif-display-italic;
							
						}
						.font-serif-italic {
							
							font-family: $font-serif-italic;
							
						}
						.font-sans-serif {
							
							font-family: $font-sans-serif;
							
						}
						
 						hr {

 							width: $width-text-max * 1.2;
 							margin: $margin-media auto;
 							padding: 0;
 							color: $color-light-grey;
 							max-width: 90%;

 						}

 						> a {
 							
 							border: 0;
 							// display: block;
 							
 							> div {
 								
 								@extend .internal-function-width-column;
 								
 							}

 						}
 						
 						> a:hover {
 							
 							color: inherit;
 							
 						}
 						
						> p, > div, > embed, > iframe {
						
							@extend .internal-function-width-column;
							position: relative;
							z-index: 100;
							
							/* This is used to set the width of the text column. */
						
						}
						
						> p {
							
							margin-bottom: 2.0em;
							
						}
						
						> div {
							
							background-color: $color-background;
							
						}
						
						/* A wrapper container for additional social buttons. */
						
						.share-buttons {
							
						    float: none;
						    text-align: left;
						    display: block; 
						    margin: 1rem auto;
						    
						    > div > a {
						    
						    	/* Remove underline from links. */
						    	
						    	border: 0;
							    display: inline-block;
							    margin: 1rem 1rem 1rem 0;
							    
						    }
							
						}
						
						/* Place a box around a media object or promo container. */
						
						.box {
							
							border: 1px $color-light-grey solid;
							overflow: hidden; // Keeps floating elements from overlapping box border.

							> h1, > h2, > h3, > h4 {
								
								margin: 1.5rem;
								
							}

							> p {
								
								margin: 0;
								
							}	
											
						}
						
						/* Place a yellow header over a media object or promo container. */
						
						.box-yellow {
							
							border-top: 1.5rem $color-nat-geo solid;
							overflow: hidden; // Keeps floating elements from overlapping box border.

							> h1, > h2, > h3, > h4 {
								
								margin: 1.0rem 0 0 0;
								
							}
							
							> p {
								
								margin: 0;
								
							}
								
							/* Special handling for the yellow-header style. */

							.drawer:first-of-type {
								
								margin-top: 1rem;
								
							}	
							
							.drawer:last-of-type {
								
								border-bottom: 1px $color-lighter-grey solid;
								
							}
							
							.drawer {
								
								/* We don't have to provide space for the left/right box outline. */
								
								padding-left: 0;
								padding-right: 0;
								
								.header {
									
									p {
										
										margin-left: 0;
										margin-right: 0;
										
									}
									
								}
								
								.contents {
									
									ul {
										
										margin-left: 0;
										margin-right: 0;
										
									}
									
								}	
								
							}		
										
						}
						
						/* Place a collapsible drawer within a box or promo container. */
						
						.drawer {

							border-top: 1px $color-lighter-grey solid;
							font-family: $font-sans-serif;
							font-weight: 500;
							font-size: 1.2rem;
							padding: 0.75rem 1.0rem;
							
							/* The header is the main title of the collapsible drawer. */
							
							.header {
								
								font-family: $font-sans-serif;
								font-size: 1.2rem;
								font-weight: 500;
								padding: 0;
								text-decoration: none;
								
								p {
								
									font-size: 1.2rem;
									font-weight: 700;
									line-height: 1.4;
									padding: 0;
									margin: 0.25rem 0.5rem;
								
								}
													
								/* An anchor tag is used for the expand/collapse control. */
								
								a {
									
									bottom: 0.5em;
									border: 0;
									float: right;
									
									/* Hide its contents and use :after to show the control. */
									
									font-size: 0.01rem;
									font-family: $font-sans-serif;
									font-weight: 300;
    								line-height: 1.25;	
									padding-left: 1rem;
									padding-right: 0.5rem;
									position: relative;
									text-decoration: none;
									-ms-transform: scale(1.5,1.0);
									-webkit-transform: scale(1.5,1.0);
									transform: scale(1.5,1.0);
															
								}
							
								a:after {
									
									bottom: 0.25rem;
									content: "\2227"; // looks like: ^
									color: #aaa;
									font-size: 1.5rem;
									position: relative;
								
								}

							}
								
							/* Contains the links or other collapsible content. */
													
							.contents {
								
								font-size: 1.0rem;
								
								/* Keep each link in a ul->li. */
								
								ul {
									
									list-style-type: none;
									margin-bottom: 0;
									margin-left: 0.5rem;
									padding-left: 0;
									
									li {
										
										line-height: 1.4; 
										padding-bottom: 0.5rem;
										
											
									}
										
								}
								
							}
																					
						}

						/* Display a subtle interface clue that this is clickable. 
						
						TODO: Mobile? */
						
						.drawer.closed:hover {
					
							background-color: $color-lightest-grey;
							
						}

						/* Apply or remove .closed from a drawer to hide its contents. */
		
						.drawer.closed {
								
							.contents {
									
								display: none;

							}
								
							.header {
							
								a:after {
									
									content: "\2228"; // looks like: V
								
								}
							
							}							

						}
						
						/* Client-side include of a module. Hide it until it loads. */
					
						.include {
							
							display: none;
							
						}
						
						#livefyre {
							
							margin: $margin-media*2 auto $margin-media auto;
							
							.fyre .fyre-comment-wrapper time.fyre-comment-date {
								
								float: none;
								
							}
						}
						
						/* Style a container as a series promo--showing all parts of a series. */
						
						.promo-series {
							
							font-family: $font-sans-serif;
							font-size: $size-caption;
							margin-top: $margin-media;
							margin-bottom: $margin-media;
							
						}
						
						.promo-thumbs {
							
							font-family: $font-sans-serif;
							font-size: 0.001px; // inline-block fix
							
							margin: $margin-media*2 auto;

							@include respond-to-width(small) {
								
								margin: $margin-media*1.5 auto;
							
							}
							
							
							h4 {
								
								color: $color-grey;
								font-family: $font-sans-serif;
								font-size: 0.8rem;
								font-weight: 400;
								line-height: 1;
							    margin: 0;
								padding-bottom: 0.5em;
								text-transform: uppercase;
								
							}
														
							h3 {
								
								font-size: 1.0rem;
								margin: 0;
								line-height: 1.2em;
								
							}
							
							> h3 {
								
								font-size: 1.5rem;
								
							}
							
							a:hover {
								
								color: inherit;
								
							}
							
						}
						
						.promo-thumb:nth-of-type(1) {
							
								a {
									
									padding-right: 1rem;
										
								}
							
						}
						
						.promo-thumb:nth-of-type(2) {
							
							@include respond-to-width(small) {
								
								a {
									
									padding-left: 0.75rem;

								}
								
							}
							
							@include respond-to-width(notsmall) {
								
								a {
									
									padding: 0 0.5rem;

								}
								
							}

						}
						
						.promo-thumb:nth-of-type(3) {
							
							@include respond-to-width(small) {
							
								display: none;
							
							}
 							
 							@include respond-to-width(notsmall) {
							
								a {
									
									padding-left: 1rem;
							
								}
								
							}
 							
						}
						
						.promo-thumb:nth-of-type(n+4) {
							
							display: none;
							
						}
						
						.promo-thumb {
							
							display: inline-block;
							font-family: $font-sans-serif;
							font-weight: 700;
							font-size: 1rem;
							margin: 1rem auto 0 auto;
							padding: 0;
							vertical-align: top;
							
														
							a {
								
								border: 0;
								display: block;
								
							}
							
							img {
								
								width: 100%;
								padding-bottom: .75rem;
								
							}
							
							@include respond-to-width(notsmall) {
						
								width: 33.33%;
								
							}
							
							@include respond-to-width(small) {
								
								width: 50%;
																 
							}
							
						}
						
						.promo-tile {
							
							font-family: $font-sans-serif;
							font-size: $size-caption;
							line-height: 1.5em;
							margin-top: $margin-media;
							margin-bottom: $margin-media;
							position: relative;
							vertical-align: top;
							
							div {
								
								@include respond-to-width(notsmall) {
							
									margin-left: 50%;
									padding: 0 1.5rem;
											
									
								}
								
							}
							
							img {
							
								@include respond-to-width(notsmall) {
									
									height: 100%;
									margin-right: 1.5rem;
									max-width: 50%;
									object-fit: cover;
									position: absolute;
									width: $width-text-max / 2;
									
								
								}
								
								@include respond-to-width(small) {
								
									width: 100%;
								
								}
																
							}
							
							h5 {
								
								font-size: 1.75rem;
								line-height: 1.15em;
								font-weight: 600;
								margin: 1.5rem 1.5rem 0.5rem 1.5rem;
								
								@include respond-to-width(notsmall) {
									
									margin-left: 0;
										
								}
								
							}
							
							a {
								
							}
							
							a:hover {
							
								color: inherit;
								
							}
							
							p {
								
								@include respond-to-width(small) {
									
									margin-left: 1.5rem;
									margin-right: 1.5rem;

								}
								
							}

						}
						
						.promo-tile:before {
								
						    color: $color-lighter-grey;
						    content: "\1F522";
						    float: right;
						    font-family: "icongs";
						    font-size: 2rem;
						    line-height: 1;
						    padding: 0 0 2rem 2rem;
						    position: relative;
						    right: 1rem;
						    top: 1rem;
							
							@include respond-to-width(small) {
							
								position: absolute; 
								
							}
							
						}
						
						.promo-tile.explorer > div:last-child:after {
						
							content: "";
							width: 6rem;
							height: 2.5rem;
							background: transparent url("../i/EXPLORER-LOGO.svg") no-repeat center;
							background-size: contain;
							position: relative;
							float: left;
							bottom: .75rem; 
							margin-top: 0.5rem;
							
							@include respond-to-width(small) {
								
								margin: 0.5rem 1.5rem;
								padding: 0;
									
							}
							
						}
						
						.promo-tile:hover:before {
							
							color: #000;
								
						}
						
						.promo-tile:hover {
							
							background-color: $color-lighter-grey;
							color: inherit;
							
						}
						
						/* Style a container with text over a croppable image. */
						
						.promo-issue {
							
							margin: $margin-media 0;
							overflow: hidden;

							
							img {
								
								position: absolute;
								top: 50%;
								-ms-transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
								transform: translateY(-50%);
								
								@include respond-to-width(small) {
									
									min-width: 120%;
									max-width: 120%;
									left: -10%;
									
								}
								
							}
							
							.overlay {
								
								display: block;
								font-family: $font-sans-serif;
								padding: $margin-media/2 0;
								position: relative;
								top: inherit;
								-ms-transform: none;
								-webkit-transform: none;
								transform: none;
								z-index: 1000;
								
								a:hover {
									
									color: inherit;
									
								}
	
								@include respond-to-width(small) {
									
									color: #fff;
									padding-bottom: 0;
									text-align: center;
															
									h1, h2, h3, h4 {
										
										color: #fff;
										text-align: center;
										margin-left: auto;
										margin-right: auto;
										text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.8);	

									}
									
								}

								h1 {
					
									font-family: $font-sans-serif;
									font-size: 15vw;
									letter-spacing: -0.04em;
									line-height: 1.0em;
									margin: 0 auto;
									padding: 0;
									
									@include respond-to-width(small) {
										
										font-size: 5rem;
										
									}
									
								}
								
								h3 { 
								
									font-weight: 700;
									font-size: 1.4rem;
									margin: 1rem auto;
									width: 90%;
									max-width: 90%;
									
								}
								
							}
							
						}
						
						/* Style a container to show promos, optionally with thumbnails. */
						
						.promo-content {
							
							font-family: $font-sans-serif;
														    							
   							ul { 
								
								list-style-type: none;
								margin: 0;
								padding: 0;
								
							}
							
							div, li {
									
								> a {
	
									line-height: 1.5em;								
									margin-bottom: .25em;
									font-weight: 600;
	
								}
								
								.caption, .credit, p {
									
									display: block;
									font-family: $font-sans-serif;
									font-size: $size-caption;
									padding: 0 0.5rem 0.5rem 0;
									
								}
								
								h5 {
									
									font-size: 1.75rem;
									line-height: 1.15em;
									font-weight: 600;
									padding-bottom: 0.5rem;
									
								}
	
								h6 {
									
									font-size: 0.875rem;
									line-height: 1.15em;
									color: #808080;
									text-transform: uppercase;
									font-weight: 400;
									
								}
	
								hr {
	
									max-width: 100%;
									width: 100%;
									margin: 1.25rem auto 2.5rem;
	
								}
								
								img {
								
									width: 7.5rem;
									height: auto;
									float: left;
									margin: 0 1.25rem 1.25rem 0;
									clear: left;
									
								}			
								
							}
							
																	
						}

						/* Style these containers for interactive HTML5 graphics. Light hand on styles here.
						
						*/

						.graphic {
							
							clear: both;
							font-family: $font-sans-serif;
							font-size: 1.0rem;
    						line-height: 1.75;
							margin: $margin-media auto;
							overflow: hidden;
						   
						    > div {
						    	
						    	@include respond-to-width(large) {
						    		
							    	overflow: hidden; // they overflow their container because of floats

						    	}
						    	
						    }
						    
						    
							&.width-cinematic, &.width-full, &.width-wider, &.width-wide {
								
								> p, > div.caption {
									
									@extend .internal-function-width-column;
									padding-left: 0.5em; // to match padding-right -- so it will center
									display: block;
									
								}
								
							}
						 
							.caption {
								 
								color: #000; 
								font-family: $font-sans-serif;
							    font-size: .9rem;
							    padding: 0 .5rem .5rem 0;
								
							}
							
							.credit {
								 
								 text-transform: uppercase;
								 color: gray;
								 font-size: 0.7rem; 
								 padding: 0 .5rem .5rem 0;
								
							}
							
							.caption > span.credit {
								 
								display: block;
								margin: 0.25rem 0 0 0;
								 	
							}
							
							img {
							
								width: 100%;
								height: auto;
								padding-bottom: 0.5rem;
								
							}
							
						}
						
						/* Style these containers for photos or video players.
						
						*/ 

						
						.video, .photo {
							
							margin: $margin-media auto;
							text-align: left;
							position: relative;
							
							iframe, video {
								
								width: 100%;
								height: 100%;
								padding-bottom: 0.5rem;
								
							}
							
							> div {
								
								padding-bottom: 0.5rem;
								
							}
							
							img {
							
								width: 100%;
								height: auto;
								padding-bottom: 0.5rem;
								
							}
							
							.caption, .credit {
								
								display: inline;
								font-family: $font-sans-serif;
								font-size: $size-caption;
								padding: 0 0.5rem 0.5rem 0;
								text-align: left;
								
							}
							
							.caption {
								 
								color: #000; 
								
							}
							
							.credit {
								 
								 text-transform: uppercase;
								 color: gray;
								 font-size: 0.7rem; 
								 
								
							}
							
							.caption > span.credit {
								
								display: block; 
								margin: 0.25rem 0 0 0;
								 	 
							}
							
							&.width-cinematic {
								
								> p, > div.caption {
									
									@extend .internal-function-width-column;
									padding-left: 0.5em; // to match padding-right -- so it will center
									display: block;
									
								}
								
							}
						
							&.width-full, &.width-wider, &.width-wide {
								
								> p, > div.caption {
									
									@extend .internal-function-width-column;
									padding-left: 0.5em; // to match padding-right -- so it will center
									display: block;
									
								}
								
							}
							
							input[type=checkbox] ~ .overlay {
								
								opacity: 1;
								@include transition(0.5s opacity linear);
								
							}
							
							input[type=checkbox]:checked ~ .overlay {
								
								opacity: 0;
								@include transition(0.5s opacity linear);
								
							}
							
							input[type=checkbox] {
								
								display: none;
								
							} 		
							
							.hide-overlay {
							
								@include respond-to-width(notsmall) {
										
									clear: both;
									color: $color-grey;
									cursor: pointer;
									display: block;
									font-family: $font-sans-serif;
									font-size: 0.8rem;
									padding: 0 1.5rem 4rem 1.5rem;
									position: absolute;
									text-transform: uppercase;
									z-index: 100;
									
								}
								
								@include respond-to-width(medium) {
									
								    z-index: 100;
								    margin: 0 auto;
								    position: relative;
								    padding: 0 1rem;
								    float: right;
								        
								}
								
								@include respond-to-width(small) {
									
									display: none;
									
								}
								
							}
							
						}
						
						.video {
							
							@include respond-to-width(notsmall) {
									
								.hide-overlay:before { 
									
									content: "Hide Title";
	
								}

							}
							
						}
						
						.photo {
							
							@include respond-to-width(notsmall) {
								
								.hide-overlay:before { 
									
									content: "Hide Title";
	
								}
						
							}	
						
						}
						
						
						.video.overlay-container, .photo.overlay-container {
							
							margin-top: 0;
							
							@include respond-to-width(small) {
								
								margin-bottom: 2rem;
								
							}
							
							@include respond-to-width(large) {
								
								.caption ~ .hide-overlay {
								
									bottom: -3rem;
									
								}
								
							}
							
						}		

					}
					
					/* This is Cheetah's built-in style for the lede image. 
					
					We do not necessarily need to use it when building a story, but I include it here
					for maximum compatibility with older stories. */
					
					.featurepic {
					
						clear: both;
						border: 0 none;
						position: relative;
						
						img {
						/*	width: 100vh;
							max-width: 100%; */
							width: 100%;
							height: auto;
						}
						
						/* It does not live inside the main content div, so set the text column. */
						
						@extend .internal-function-width-column;
					 
					}
					
					/* Cheetah's next/previous page controls for paginated articles. */
					
					.nextpage_continue {

						display:none;

					}
					
					/* Make any object into an overlay for media.
					
					Place this div inside the media container, at the end. 
					
					Example: 	<div class="photo width-cinematic">
									<img src="cats.jpg">
									<div class="overlay"><h1 class="title">Headline</h1></div>
								</div>
					
					*/
					
					.overlay {
						

 						width: 100%;
 						
 						@include respond-to-width(notsmall) {
	 						
	 						color: #fff;
							opacity: 1;
							position: absolute; // Note that parent container must have position: relative.
							top: 50%;
							-ms-transform: translateY(-55%);
							-webkit-transform: translateY(-55%);
							transform: translateY(-55%);
							text-align: center;
							text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.8);	
	 						
 							a {
	 							
	 							border-bottom: 1px solid;
	 							color: #fff;
	 							text-decoration: none;
	 							
	 							
 							}
 							
	 						h4, h3, h2 {
	 							
	 							color: #fff;
	 							
	 						}
	 									
 						}
 						
 						@include respond-to-width(medium) {
 							
	 						h4.title { 
 								
 								// display: none;
 								margin-top: 0;

 							}
	
							h2.title {
								
								// margin-top: 0;
								
							}
							
 						}
 						
 						@include respond-to-width(notlarge) {
 						
							h3.title {
								
								font-size: 1.3rem;
								
							}
							
							h2.title {
								
								font-size: 2.5rem;
								
							} 								
 							
 						}
 						
						@include respond-to-width(small) {

							/* On mobile, display the overlay inline, below the media, instead of overlayed. */
							
 							position: static;
 							
 							h4 {
 								
 								margin: 1.5em auto;
 								
 							}
								
						}				
 						
 						/* Current designs remove these bylines. 2015-09-03 CC */
 						
 						.article_credits_author, .article_credits_photographer {
 							
							@include respond-to-width(medium) {
								
	 							color: rgba(255,255,255,0.75);
								
							}
							
 							@include respond-to-width(large) {
								
	 							color: rgba(255,255,255,0.75);
								
							}
 							
 						}
 							
					}		
					
					/* If the overlay is used over a particularly large image, make the typography larger. */
					
					.width-cinematic > .overlay {
						
						@include respond-to-width(large) {
							
							font-size: 1.2em;
							
							h2 {
								
								font-size: 4.0rem;
								
							}
							
							h3 {
								
								font-size: 1.5rem;
								
							}
							
						}
						
					}	
										
					/* Cheetah's subscription promos. */
					
					.subscribe {
						
						display: none;
						
					}
					
					/* Basic headline styles. */
					
					h1 {
						
						font-size: 2.0rem;
						line-height: 1.3;
						max-width: 90%;
						position: relative;
						z-index: 100;
					
						@include respond-to-width(small) {
				
							font-size: 1.75rem;		
						
						}
						
						a {
							
							border: 0;
							
						}
				
					}
					
					h1.title, .overlay > h1 {
						
						
						
					}
					
					h2 {
						
						line-height: 1.4;
						position: relative;
						z-index: 100;
						max-width: 90%;
						
					}
					
					h2.title, .overlay > h2 {
						
						font-family: $font-serif-deck-bold;
						font-size: 4rem;
						font-weight: 400;
						line-height: 1.0em;
						margin: 1rem auto;
						padding: 0;
						text-align: center;
						text-transform: normal;
						
						@extend .internal-function-width-column;
						
						@include respond-to-width(large) {

							margin-bottom: 2rem;

						}
						
						@include respond-to-width(notsmall) {
							
							max-width: 80%;
						
						}
						
						@include respond-to-width(small) {
							
							font-size: 2.5rem;
							text-align: left;
							
						}
						
					}
					
					h3.title, .overlay > h3 {
						
						font-family: $font-sans-serif;
						font-size: 1.2rem;
						font-weight: 400;
						line-height: 1.4;
						margin: 0 auto;
						padding: 0;
						text-align: center;
						text-transform: none;
						
						@extend .internal-function-width-column;
						width: $width-text-max;
						
						@include respond-to-width(notsmall) {
							
							max-width: 60%;
						
						}
						
						@include respond-to-width(small) {
							
							text-align: left;
							
						}
						
						em { 
						
							font-family: $font-sans-serif;
							font-style: italic;
							
						}
						
					}

					h3 {
						
						position: relative;
						line-height: 1.2em;
						z-index: 100;
						max-width: 90%;
						
					}
										
					h4 {
						
						color:#000;
						font-family: $font-serif-display;
						font-size:2.25rem;
						font-weight:700;
						line-height: 1.2em;
						margin:1.5rem auto;
						max-width: 90%;
						padding:0;
						position: relative;
						text-align:left;
						width: $width-text-max;
						z-index: 100;
						
					}
					
					h4.title, .overlay > h4 {
						
						font-family: $font-sans-serif;
						font-size: .9em;
						font-weight: 300;
						line-height: 1.2em;
						margin: 3.5rem auto 0 auto;
						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						
						@extend .internal-function-width-column;
						width: $width-text-max;
						
						@include respond-to-width(notsmall) {
							
							max-width: 80%;
						
						}

						@include respond-to-width(small) {
							
							margin-top: 1.5rem;
							text-align: left;
							
							
						}

					}
					
				}
				
		
			}
		
			/* The Cheetah built-in footer. */
		
			div#footer {

				display: none;				
				
			}
		
		}
			
		/* The real National Geographic footer. */
		
		div#global_footer {
			
			@extend .internal-function-width-column;
			
		}
			
	}

}

@import "inlineSlideShow";
